<div class="tab">
  <button class="tablinks active" onclick="openSection(event, 'basic_information')">Información</button>
  <% if service.state_see %>
    <%#button class="tablinks " onclick="openSection(event, 'process_information')">Estado de servicio</button%>
  <% end %>
  <% if service.contract_see %>
    <button class="tablinks" onclick="openSection(event, 'contracts')">Contrato</button>
  <% end %>
  <% if service.final_completed? %>
    <button class="tablinks" onclick="openSection(event, 'results')">Resultados</button>
  <% end %>
</div>

<div id="basic_information" class="tabcontent " style="display: block;">
  <%= render "show_basic_information", service: @service%>
</div>

<div id="process_information" class="tabcontent">
  <%= render "show_status_information", service: @service%>
</div>

<div id="contracts" class="tabcontent">
  <%= render "show_contracts_information", service: @service%>
</div>

<div id="results" class="tabcontent">
  <%= render "show_results_information", service: @service%>
</div>
