<% if current_user.employee? %>
  <div class="row content">
    <div id="unread-card" class="card">
      <%= render 'services', services: @unattended, title: "Servicios sin atender" %>
    </div>
    <div id="read-card" class="card">
      <%= render 'services', services: @attended, title: "Servicios atendidos" %>
    </div>
<% else %>
  <%= link_to 'Nuevo Servicio', new_service_path, class: "btn btn-primary align-right"  %>
  <%= render 'services_table', services: @services %>
<% end %>