<div class="card">
  <div class="content">
    <div class="header card-header-text sical-card-header">
      <h1 class="page-header title sical-card-title">Solicitud de Servicio <small>Nuevo</small></h1>
    </div>
    <%= render 'form_client', service: @service, method: :post, path: services_path %>
  </div>
</div>


