<div class="card">
  <div class="tab">
    <button class="tablinks active" onclick="openSection(event, 'service')">Informacion</button>
    <button class="tablinks" onclick="openSection(event, 'custody')">Cadena de Custodias</button>
    <button class="tablinks" onclick="openSection(event, 'report')">Reportes</button>
    <button class="tablinks" onclick="openSection(event, 'report-final')">Reporte Final</button>
  </div>
  <%= render 'services_completed'%>
</div>