<div class="card">
    <div class="tab">
      <button class="tablinks active" onclick="openSection(event, 'information')">Informacion</button>
      <button class="tablinks" onclick="openSection(event, 'custody')">Cadena de Custodia</button>     
      <button class="tablinks" onclick="openSection(event, 'report')">Reportes</button>     
    </div>
    <%= render 'work_orders_to_check'%>
</div>