<div class="tab" id="all-tabs">
  <button class="tablinks" onclick="openData(event, 'InformacionGeneral')">Informacion General</button>
  <button class="tablinks" onclick="openData(event, 'MuestrasGeneral')">Muestras</button>
</div>

<%= nested_form_for @sample, url: path, method: method do |sample| %>
  <div id="InformacionGeneral" class="tabcontent">
    <h3>Informacion General</h3>
    <%= render 'general_features', form: sample %>
  </div>

  <div id="MuestrasGeneral" class="tabcontent">
    <h3>Informacion General</h3>
    <%= render 'sample_features', form: sample %>
  </div>
<% end %>