<div class="content">
  <div class="material-datatables">
    <table id="sample_table" class="table table-no-bordered table-hover" >
      <thead>
        <tr>
          <th>Código</th>
          <th>Identificación de la Muestra</th>
          <th>Tipo de Muestra</th>
          <th>Cliente</th>
          <th>Fecha</th>
          <th>Encargado</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>1</td>
          <td>A52</td>
          <td>Agua</td>
          <td>Agustino Ino</td>
          <td>27/12/2017</td>
          <td>Juanito Perino</td>
          <td><i class="fa fa-eye " aria-hidden="true"></i></td>
        </tr>
        <tr>
          <td>8</td>
          <td>M82</td>
          <td>Metal</td>
          <td>Agustino Ino</td>
          <td>30/12/2017</td>
          <td>Julian Ramirez</td>
          <td><i class="fa fa-eye " aria-hidden="true"></i></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<script>
  $(document).on('ready', function() {
    $('#sample_table').DataTable({
        "pagingType": "full_numbers",
        "lengthMenu": [ 
            [10, 25, 50, -1],
            [10, 25, 50, "All"]
        ],
        responsive: true,
        destroy: true,
        language: {
            search: "_INPUT_",
            searchPlaceholder: "Buscar Muestras",
        },
    });
  })