<div class="content">
  <div class="material-datatables">
    <table id="sample-table" class="table table-no-bordered table-hover" >
      <thead>
        <tr>
          <th>Código</th>
          <th>Identificación de la Muestra</th>
          <th>Tipo de Muestra</th>
          <th>Cliente</th>
          <th>Fecha</th>
          <th>Encargado</th>
          <th>Acciones</th>
        </tr>
      </thead>
    </table>
  </div>
</div>
