<div class="material-datatables">
  <table class="table table-no-bordered table-hover sical-data-table" data-placeholder="Buscar Muestras">
    <thead>
      <tr>
        <th>Código</th>
        <th>Identificación de la Muestra</th>
        <th>Tipo de Muestra</th>
        <th>Cliente</th>
        <th>Fecha</th>
        <th>Encargado</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>1</td>
        <td>A52</td>
        <td>Agua</td>
        <td>Agustino Ino</td>
        <td>27/12/2017</td>
        <td>Juanito Perino</td>
        <td><button class="btn btn-success btn-sm"><i class="fa fa-pencil" aria-hidden="true"></i></button>
            <button class="btn btn-warning btn-sm"><i class="fa fa-trash" aria-hidden="true"></i></button>
            </td>
      </tr>
      <tr>
        <td>8</td>
        <td>M82</td>
        <td>Metal</td>
        <td>Agustino Ino</td>
        <td>30/12/2017</td>
        <td>Julian Ramirez</td>
        <td><button class="btn btn-success btn-sm"><i class="fa fa-pencil" aria-hidden="true"></i></button>
            <button class="btn btn-warning btn-sm"><i class="fa fa-trash" aria-hidden="true"></i></button></td>
      </tr>
    </tbody>
  </table>
</div>
