<section class="samples-index">
  <div class="card">
    <div class="content">
      <div class="header card-header-text sical-card-header">
        <h1 class="sical-card-title">
          Muestras
        </h1>
        <div>
          <%= link_to 'Nuevo Muestra', new_sample_path, class: "btn btn-primary align-right" %>
        </div>
      </div>
      <%#= render 'search', samples: @samples %>
      <div class="samples-content">
        <div id="samples-table">
          <%= render 'sample_table', samples: @samples %>
        </div>
      </div>
    </div>
  </div>
</section>
