<div class="material-datatables">
  <table class="table table-no-bordered table-hover sical-data-table" data-placeholder="Buscar Item">
    <thead>
      <tr>
        <th>Nombre</th>
        <th>Marca</th>
        <th>Modelo</th>
        <th>Descripción</th>
        <th>Fecha de Ingreso</th>
        <th>Vida útil(años)</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Impresora</td>
        <td>EPSON</td>
        <td>J47A</td>
        <td>Impresora con conexión wifi</td>
        <td>01/04/2010</td>
        <td>10</td>
        <td>
            <button class="btn btn-info btn-sm"><i class="fa fa-eye" aria-hidden="true"></i></button>
            <button class="btn btn-success btn-sm"><i class="fa fa-pencil" aria-hidden="true"></i></button>
            <button class="btn btn-warning btn-sm"><i class="fa fa-trash" aria-hidden="true"></i></button>
        </td>
      </tr>
      <tr>
        <td>Computadora</td>
        <td>Intel</td>
        <td>corei3</td>
        <td>Computadora primera generación</td>
        <td>06/11/2011</td>
        <td>5</td>
        <td>
            <button class="btn btn-info btn-sm"><i class="fa fa-eye" aria-hidden="true"></i></button>
            <button class="btn btn-success btn-sm"><i class="fa fa-pencil" aria-hidden="true"></i></button>
            <button class="btn btn-warning btn-sm"><i class="fa fa-trash" aria-hidden="true"></i></button>
        </td>
      </tr>
      <tr>
        <td>Impresora</td>
        <td>EPSON</td>
        <td>J24P</td>
        <td>Impresora multi-funcional con wifi</td>
        <td>08/06/2012</td>
        <td>10</td>
        <td>
            <button class="btn btn-info btn-sm"><i class="fa fa-eye" aria-hidden="true"></i></button>
            <button class="btn btn-success btn-sm"><i class="fa fa-pencil" aria-hidden="true"></i></button>
            <button class="btn btn-warning btn-sm"><i class="fa fa-trash" aria-hidden="true"></i></button>
        </td>
      </tr>
    </tbody>
  </table>
</div>