
<div class="card">
  <div class="header card-header-text">
    <h1 class="page-header">Inventario <small>Edición</small></h1>
  </div>
  <div class="content">
    <%= render 'form', inventory: @inventory, method: :put, path: inventories_path %>
  </div>
</div>