<div class="card">
  <div class="content">
    <div class="header card-header-text sical-card-header">
      <h1 class="page-header title sical-card-title">Inventario <small>Editar</small></h1>
    </div>
    <%= render 'form', inventory: @inventory, method: :put, path: inventory_path %>
  </div>
</div>