<div class="card">
  <div class="tab">
    <button class="tablinks active" onclick="openSection(event, 'inventories')">Equipos</button>
    <button class="tablinks" onclick="openSection(event, 'supplies')">Insumos</button>
  </div>  
  <div id="inventories" class="tabcontent default" style="display: block;">
    <section class="inventories-index">
      <div class="card">
        <div class="content">
          <div class="header card-header-text sical-card-header">
          <h1 class="sical-card-title">
            Equipos
          </h1>      
            <div>
              <%= link_to 'Nuevo Item', new_inventory_path, class: "btn btn-primary align-right #{current_user.can_create(@controller) ? '' : 'disabled'}" %>
            </div>
          </div>
          <div class="inventories-content">
            <div id="inventories-table">
              <%= render 'inventories_table', inventories: @inventories %>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
  <div id="supplies" class="tabcontent">
    <section class="supplies-index">
      <div class="card">
        <div class="content">
          <div class="header card-header-text sical-card-header">
          <h1 class="sical-card-title">
            Insumos
          </h1>
            <div>
              <%= link_to 'Nuevo Item', new_supply_path, class: "btn btn-primary align-right #{current_user.can_create(@controller) ? '' : 'disabled'}" %>
            </div>
          </div>
          <div class="supply-content">
            <div id="supply-table">
              <%= render 'supplies_table', supplies: @supplies %>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>  
</div>