<section class="employees-index">
  <div class="card">
    <div class="content">
      <div class="header card-header-text sical-card-header">
        <h1 class="sical-card-title">
          Inventario
        </h1>
        <div>
          <%= link_to 'Nuevo Item', new_inventory_path, class: "btn btn-primary align-right" %>
        </div>
      </div>
      <div class="employees-content">
        <div id="employees-table">
          <%= render 'inventories_table', inventories: @inventories %>
        </div>
      </div>
    </div>
  </div>
</section>
