<div class="card">
  <div class="content">
    <div class="header card-header-text employees-header">
      <h1 class="page-header title employee-card-title">Empleado <small>Edicion</small></h1>
    </div>
    <%= render 'form', employee: @employee, method: :put, path: employee_path %>
  </div>
</div>