<div class="card">
  <div class="content">
    <div class="header card-header-text sical-card-header">
      <h1 class="page-header title sical-card-title">
        <span>Empleados </span>
        <small>Nuevo</small>
      </h1>
    </div>
    <%= render 'form',
        employee: @employee,
        method: :post,
        path: employees_path
    %>
  </div>
</div>
