<div class="card">
  <div class="content">
    <h1 class="page-header title">Nuevo <small>Empleado</small></h1>
    <%= render 'form', employee: @employee, method: :post, path: employees_path %>
  </div>
</div>