<section class="works-index">
  <div class="card">
    <div class="content">
      <div class="header card-header-text sical-card-header">
        <h1 class="sical-card-title">
          Trabajos Históricos
        </h1>        
      </div>
      <div class="works-content">
        <div id="works-table">
          <%= render 'works_table', works: @works %>
        </div>
      </div>
    </div>
  </div>
</section>