@import "clients";
@import "dashboard";
@import "employees";
@import "inventories";
@import "laboratories";
@import "login";
@import "roles";
@import "sample_methods";
@import "samples";
@import "services";
@import "quotations";
@import "request";
@import "users";