// Place all the styles related to the dashboard controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

//To make all the cards align to the center
.dashboard-wrapper{
  justify-content:center;
}

//along with the 'card' class to make a squared card
.card-square{
	width: 15em;
	height: 15em;
}

//along with the 'card' class to make a rectangled card
.card-rectangle{
	height:5em;
	vertical-align: middle;
}

//this is the text for the name of the card
.card-name{
  font-weight:bold;
  vertical-align: middle;
  display: table-cell; 
  margin-bottom:auto;
  margin-top:auto;
}

//This is the class for the number of row each table has.
.number-data{
  font-weight:bold;
  margin:auto;
  margin-left:75%;
  text-align:left;
  font-size:64px;
}
