.employees-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card {
  .employees-header {
    padding: 0 15px;
  }
}

.employees-form-buttons {
  margin: 30px 0;
}

.employee-card-title {
  margin: 15px 0 30px 0;
}