.login-title {
  text-align: center;
  padding-bottom: 50px;
}

.login-content{
  display: flex;
  justify-content: center;
}

.login-logo{
  margin-right: 80px;
}

.login-form {
  width: 40%;
}

.login-field{
  padding-bottom: 15px;
}

.login-img {
  position:relative;
  height:299px;
  width: 291px;
  margin-top: -45px;
}

.sical-login {
  width: 800px;
  margin: 20px auto;
  padding-bottom: 40px;
}