// Place all the styles related to the services controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.content{
}

.card{
  border: 1px solid #bbb;
  border-radius: 5px;
  padding: 10px;
  display: flex;
  display: -webkit-flex;
  flex-direction: column;
  -webkit-flex-direction: column;
  margin: 5px;
  padding: 10px;
  .card-title{
    .btn{
      width: inherit;
      margin: 6px 3px;
    }
  }
}

#unread-card{
  overflow: hidden;
  .title, hr{
    flex: none;
    -webkit-flex: none;
  }
}

#read-card{
  flex: 1;
  -webkit-flex: 1;
  display: flex;
  display: -webkit-flex;
  flex-direction: column;
  -webkit-flex-direction: column;
  overflow: hidden;
  .title, hr{
    flex: none;
    -webkit-flex: none;
  }
  .mailbox-messages{
    flex: 1;
    -webkit-flex: 1;
  }
}

.title{
  font-size: 24px;
  color: color(client);
  margin-top: 15px;
}

.mailbox-messages{
  margin: -10px;
  margin-right: -11px;
  table{
    width: 100%;
    tr{
      td{
        vertical-align: middle;
      }
      &.time-group-tag{
        background-color: color(disabled_gray);
        height: 30px;
        text-transform: uppercase;
        td{
          border-right: 1px solid color(gray);
          padding-left: 8px;
        }
      }
      &.message-row{
        cursor: pointer;
        border-bottom: 1px solid color(gray);
        td{
          padding: 5px;
          &.time{
            width: 65px;
            text-align: center;
          }
          &.read{
            width: 55px;
            text-align: center;
            vertical-align: middle;
            .read-icon{
              display: inline-block;
              height: 13px;
              width: 15px;
            }
            .resolved-icon{
              display: inline-block;
              height: 13px;
              width: 15px;
            }
          }
        }
      }
    }
  }
}

body {font-family: "Lato", sans-serif;}

div.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}

/* Style the buttons inside the tab */
div.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
}

div.tab button:hover {
    background-color: #ddd;
}

div.tab button.active {
    background-color: #ccc;
}

.tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
}

.samples-title {
  font-size: 25.55px;
  line-height: 1.4;
  margin: 0px 0 10px;
  display: flex;
  justify-content: space-between;
}

.samples-title-wrapper {
  padding-bottom: 40px;
  padding-top: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.sample-fields {
  position: relative; 
  padding-top: 30px;
  padding-bottom: 20px; 
}

.delete-worker {
  position: absolute;
  right: 0;
  top: -30px;
}

.save-worker {
  padding-top: 20px;
}

.link-service-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.link-service {
  font-size: 20px;
}

.show-date {
  padding-top: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.title-subject {
  font-size: 20px;
}

.custom-service-subject {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.service-sample-description {
  width: 100%;
}

.samples-worker {
  padding-top: 15px;
}