<div class="content">
  <div class="material-datatables">
    <table id="contract-table" class="table table-no-bordered table-hover" >
      <thead>
        <tr>
          <th>C贸digo</th>
          <th>C贸digo de Cotizaci贸n</th>
          <th>Laboratorio</th>
          <th>Fecha de Registro</th>
          <th>Estado</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>2</td>
          <td>C65</td>
          <td>Laboratorio de Corrosi贸n</td>
          <td>13/06/2017</td>
          <td>En Proceso</td>
          <td><i class="fa fa-eye" aria-hidden="true"></i></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>


<script>
  $(document).on('ready', function() {
    $('#contract-table').DataTable({
        "pagingType": "full_numbers",
        "lengthMenu": [ 
            [10, 25, 50, -1],
            [10, 25, 50, "All"]
        ],
        responsive: true,
        destroy: true,
        language: {
            search: "_INPUT_",
            searchPlaceholder: "Buscar Contratos",
        },
    });
  })
</script>
