<h1>
  <div class="row">
    <div class="col-sm-12 col-md-10">
      Contratos
    </div>
  </div>
</h1>

<%= render 'search', contracts: @contracts %>

<div>
  <%= render 'contracts_table', contracts: @contracts %>
</div>
