<%= nested_form_for @service, url: work_classified_service_path, :wrapper => false,  method: :put do |f| %>    
  <div id="sample" class="tabcontent">
    <h3>Custodia de Muestras</h3>
    <%#= render 'form_worker', service: @service, h: f %>
  </div>
  <div class="form-group">
    <div class="text-center save-worker">
    <%= link_to "Cancelar", work_classified_services_path, class: "btn btn-primary sical-btn-cancel" %>
    <%= f.submit "Guardar", class: "btn btn-primary", data: {disable_with: 'Please Wait...'}  %>
    </div>
  </div>
<% end %>