<table id="sample-feature" class="table table-hove">
  <thead>
    <tr>
      <th>Nr Muestra</th>
      <% features.length.times do |index| %>
        <th><%= features[index] %></th>
      <% end %>
    </tr>
  </thead>
  <tbody>
    <% samples.times do |sample| %>
      <tr>
        <td><%= sample + 1 %></td>
        <% features.length.times do |feature| %>
          <td>
            <div class="form-control">
              <input type="text" name="sp_value[<%=sample%>-<%=feature%>]">
            </div>
          </td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>