<div class="nested-fields form-group row">
  <div class="col-md-6">
    <%= f.text_field :description, class: "form-control", maxLength:"40", required:"required"%>
  </div>
  <div class="col-md-1">
    <%= f.text_field :value, class: "form-control only-numbers", maxLength:"5", required:"required" %>
  </div>
    <%= link_to_remove_association f do %>
      <i class="fa fa-times" aria-hidden="true"></i>
    <% end %>
</div> 