<div class="form-group row">
  <% sample_preliminaries.each do |sp|%>
    <div class="col-md-4">
      <%= sp.name%>
    </div>
    <div class="col-md-2">
      <%= sp.quantity%>
    </div>
      <div class="col-md-5">
      <%= sp.description%>
    </div>
  <% end %>
</div>