<div class="card">
  <% if @service.assign_sorter? %>
    <div class="tab">
      <button class="tablinks active" onclick="openSection(event, 'service')">Informacion</button>
      <button class="tablinks" onclick="openSection(event, 'sample')">Custodia de Muestras</button>     
    </div>
    <%= render 'unclassified_services_to_work'%>
  <% else %>    
    <div class="tab">
      <button class="tablinks active" onclick="openSection(event, 'service')">Informacion</button>
      <button class="tablinks" onclick="openSection(event, 'sample')">Custodia de Muestras</button>      
    </div>
    <%#= render 'classified_services_to_work_rework'%>
  <% end %>      
</div>