<section class="requests-index">
    <div class="card">
      <div class="content">
        <div class="header card-header-text sical-card-header">
          <h1 class="sical-card-title">
            Orden de Custodia
          </h1>
        </div>
        <div class="sical-content">
          <div class="row">
            <div id="unread-card" class="col-md-6 card">
              <%= render 'unclassified_services_to_work', services_unclassified_to_work: @services_unclassified_to_work, title: "Ordenes por Trabajar" %>
            </div>
            <div id="read-card" class="col-md-6 card">
              <%= render 'classified_services_to_rework', services_classified_to_rework: @services_classified_to_rework, title: "Ordenes por Revisar" %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
