<div class="card">
  <div class="content">
    <div class="header card-header-text laboratory-header">
      <h1 class="page-header title laboratory-card-title">Laboratorio <small>Edición</small></h1>
    </div>
    <%= render 'form', laboratory: @laboratory, method: :put, path: laboratory_path %>
  </div>
</div>
