<h1>
  Laboratorios
  <%= link_to 'Nuevo Laboratorio', new_laboratory_path, class: "btn btn-primary align-right"  %>
</h1>

<div id="table-users">
  <%= render 'laboratories_table', laboratories: @laboratories %>
</div>