<!DOCTYPE html>
<html>
<head>
	<title>Nuevo Laboratorio</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
	<div class="container">
	  <h2>Nuevo Laboratorio</h2>
	  <form>
		  <div class="form-group">
		  	<div class="col-md-4">
		  		<label>Nombre: </label>
		  	</div>
		  	<div class="col-md-8">
		  		<input class="form-control" id="name" placeholder="Ingrese aqui sus datos">
		  	</div>
		  </div>

		  <div class="form-group">
		  	<div class="col-md-4">
		  		<label>Telefono: </label>
		  	</div>
		  	<div class="col-md-8">
		  		<input class="form-control" id="phone" placeholder="Ingrese aqui sus datos">
		  	</div>
		  </div>

		  <div class="form-group">
		  	<div class="col-md-4">
		  		<label>Email: </label>
		  	</div>
		  	<div class="col-md-8">
		  		<input class="form-control" id="email" placeholder="Ingrese aqui sus datos">
		  	</div>
		  </div>

		  <div class="form-group">
		  	<div class="col-md-4">
		  		<label>Nombre del Jefe de Laboratorio: </label>
		  	</div>
		  	<div class="col-md-8">
		  		<input class="form-control" id="laboratoryBoss" placeholder="Ingrese aqui sus datos">
		  	</div>
		  </div>

		  <div class="form-group">
		  	<div class="col-md-4">
		  		<label>Direccion: </label>
		  	</div>
		  	<div class="col-md-8">
		  		<input class="form-control" id="address" placeholder="Ingrese aqui sus datos">
		  	</div>
		  </div>

		  <div class="form-group">
		  	<div class="col-md-4">
		  		<label>Descripcion: </label>
		  	</div>
		  	<div class="col-md-8">
		  		<textarea class="form-control" id="description" rows="5"></textarea>
		  	</div>
		  </div>

		  <div class="form-group">
		  	<div class="col-md-offset-10 col-md-2">
		  		<button type="submit" class="btn btn-primary">Registrar</button>	
		  	</div>  		
		  </div>
	  </form>
   </div>
</body>
</html>