<div id="inventories" class="tabcontent default" style="display: block;">
  <section class="inventories-index">
    <div class="card">
      <div class="content">
        <div class="header card-header-text sical-card-header">
        <h1 class="sical-card-title">
          Servicios
        </h1>
        </div>
          <%= render 'services_table', services: @services %>
      </div>
    </div>
  </section>
</div>
