<div class="card">
  <div class="content">
    <div class="header card-header-text sical-card-header">
      <h1 class="page-header title sical-card-title">Sample categroye <small>Editar</small></h1>
    </div>
    <%= render 'form', sample_category: @sample_category, method: :put, path: sample_category_path %>
  </div>
</div>