<div class="card">
  <div class="content">
    <div class="header card-header-text sical-card-header">
      <h1 class="page-header title sical-card-title">Categoria de Muestra <small>Nuevo</small></h1>
    </div>
    <%= render 'form', sample_category: @sample_category, method: :post, path: sample_categories_path %>
  </div>
</div>