<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <div>
      <div>
        <%= @subject %>
      </div>
      <div>
        "<%= @message %>"
      </div>
    </div>
  </body>
</html>