<div class="card">
  <div class="content">
    <div class="header card-header-text sical-card-header">
      <h1 class="page-header title sical-card-title">Cliente <small>Nuevo</small></h1>
    </div>
    <%= render 'form', client: @client, method: :post, path: clients_path %>
  </div>
</div>