<section class="requests-index">
  <div class="requests-header">
    <div class="card">
      <div class="header card-header-text request-card">
        <h1 class="request-title">
          <div class="row">
            <div class="col-sm-12 col-md-10">
              Solicitudes de Servicio
            </div>

            <div class="col-sm-12 col-md-2">
              <%#= link_to 'Nueva Solicitud', new_request_path, class: "btn btn-primary align-right"  %>
            </div>  
          </div>
        </h1>
      </div>
      <div class="requests-content">
        <div id="requests-table">
          <%#= render 'requests_table', requests: @requests %>
        </div>
      </div>
    </div>
</section>