<div id="costeo" class="tabcontent">
  <% unless @service.initialized? %>
  	<%= f.label :confirmacion_de_cotizacion %>
    <%= f.check_box :valid_initial_funded %>
  <% end %>
  <%= f.fields_for :sample_preliminaries do |s_p| %>
    <%= render 'sample_preliminary_fields', f: s_p %>
  <% end %>
</div>
