<div id="costeo" class="tabcontent">
  <% unless @service.initialized? %>
  	<%= f.label :confirmacion_de_cotizacion %>
    <%= f.check_box :valid_initial_funded %>
  <% end %>
  <%#= f.fields_for :sample_processeds do |s_proc| %>
    <%#= render 'sample_processed_fields', f: s_proc %>
  <%# end %>
  <!--
  <div class="form-group row">
    <%#= link_to_add_association "", f, :sample_processeds %>
  </div>
	!-->
</div>
