<div id="employee-assign" class="tabcontent">
  <table class="table table-no-bordered table-hover">
    <thead>
      <th>Nombre</th>
      <th>Categoría</th>
      <th>Método</th>
      <th>Acreditado</th>
      <th>Asignación</th>
    </thead>
    <tbody>
    <% @service.sample_processeds.each.with_index(1) do |sample_processed, index| %>
        <tr>
          <td><%= sample_processed.description %></td>
          <td><%= sample_processed.sample_category.name %></td>
          <td><%= sample_processed.sample_method_name %></td>
          <td><% if sample_processed.sample_method.accredited? %>
            Si
        <% else %> 
            No 
        <% end %></td> 
          <td><%= f.collection_select :id, @employees,:id, :name,{}, {name: "selected_employee_#{index}"} %></td>
        </tr>
    <% end %>
    </tbody>
  </table>
</div>