<% if @service.can_see_quotation_adjust %>
  <div id="adjust_cost" class="tabcontent">
    <div>
      <div class="samples-title samples-worker col-md-11">
        Muestras
      </div>
      <div class="col-md-1">
        <%= link_to_add_association "", f, :sample_processeds %>
      </div>
    </div>
    <%= f.fields_for :sample_processeds do |sample| %>
      <%= render 'sample_processed_fields', f: sample %>
    <% end %>
  </div>
<% end %>
