<div class="content">
  <div class="material-datatables">
    <table id="quotation-table" class="table table-no-bordered table-hover" >
      <thead>
        <tr>
          <th>C贸digo</th>
          <th>C贸digo de Solicitud</th>
          <th>Laboratorio</th>
          <th>Fecha de Recepci贸n</th>
          <th>Estado</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>4</td>
          <td>C36</td>
          <td>Laboratorio de Antisismica</td>
          <td>20/06/2017</td>
          <td>Aprobada</td>
          <td><i class="fa fa-eye" aria-hidden="true"></i></td>
        </tr>
        <tr>
          <td>4</td>
          <td>C36</td>
          <td>Laboratorio de Corrosi贸n</td>
          <td>20/06/2017</td>
          <td>Por Revisar</td>
          <td><i class="fa fa-check" aria-hidden="true"></i></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
