<div class="nested-fields">
  <div class="form-group row">
    <%= f.label :Codigo_cliente, class: "col-md-3 col-fom-label" %>
     <div class="col-md-9">
        <%= f.text_field :client_code,class: "form-control", maxLength:"8", required: "required" %>
    </div>
  </div>
</div>