<div id="employee-handler" class="tabcontent">
  <% if service.accepted? and current_user.employee? %>
    <%= f.fields_for :sample_processeds do |s_proc| %>
      <%= render 'quotation_employee', f: s_proc %>
    <% end %>
  <% end %>
</div>