

<div class="form-group row">
  <div class="col-md-4">
    <%= f.text_field :name,readonly: true , class: "form-control"%>
  </div>
  <div class="col-md-4">
    <%= f.text_field :quantity, readonly: true, class: "form-control" %>
  </div>
  <div class="col-md-4">
    <%= f.text_field :description, readonly: true, class: "form-control" %>
  </div>
</div>