
<div class="card">
  <div class="header card-header-text">
    <h1>
      <div class="row">
        <div class="col-sm-12 col-md-10">
          Cotizaciones
        </div>
      </div>
    </h1>
    <%= render 'search', quotations: @quotations %>
  </div>
  <div>
    <%= render 'quotations_table', quotations: @quotations %>
  </div>
</div>