<h1>
	<div class="row">
		<div class="col-sm-12 col-md-10">
        	Cotizaciones de Servicio
    	</div>
	</div>
</h1>

<%= render 'search', quotations: @quotations %>

<div id="table-users">
	  <%= render 'quotations_table', quotations: @quotations %>
</div>


