<% if current_user.employee? %>
  <div class="row content">
    <div id="unread-card" class="card">
      <%= render 'quotations', quotations: @unfunded, title: "Servicios sin costeados" %>
    </div>
<% end %>

<div class="row">
  <div id="read-card" class="col-md-6 card">
    <%= render 'quotations', quotations: @funded, title: "Servicios costeados" %>
  </div>
  <div id="read-card" class="col-md-6 card">
    <%= render 'quotations', quotations: @accepted, title: "Servicios aceptados" %> 
  </div>
</div>