<% if current_user.employee? %>
  <div class="row content">
    <div id="unread-card" class="card">
      <%= render 'quotations', quotations: @unfunded, title: "Servicios sin costeados" %>
    </div>
<% end %>
<div id="read-card" class="card">
  <%= render 'quotations', quotations: @funded, title: "Servicios costedos" %>
</div>
<div id="read-card" class="card">
  <%= render 'quotations', quotations: @accepted, title: "Servicios aceptados" %>
</div>    
