<section class="clients-index">
  <div class="card">
    <div class="content">
      <div class="header card-header-text sical-card-header">
        <h1 class="sical-card-title">
          Auditoria
        </h1>
      </div>
      <div class="client-content">
        <div id="client-table">
          <%= render 'audits_table', audits: @audits %>
        </div>
      </div>
    </div>
  </div>
</section>
