<div>
  <%= render 'add_nested_elements', title: "Muestras", button_message: "", editable: false, f: f, 'association_insert_node': '.classified-services', fields: :sample_processeds, partial: 'sample_processed_fields' %>
</div>
<div class="form-group">
  <div class="col-md-3 col-fom-label">
    <strong> <%= f.label :Validar_Calificación %></strong>
  </div>
  <div class="col-md-9">
    <label class="radio form-check-label sical-radio-button">
      <span class="icons">
        <span class="first-icon fa fa-circle-o"></span>
        <span class="second-icon fa fa-dot-circle-o"></span>
      </span>
      <input
        id="accepted"
        type="radio"
        class="form-check-input"
        data-toggle="radio"
        name="service[valid_classified]"
        value="true"
      >
      Aceptado
    </label>
    <label class="radio form-check-label sical-radio-button">
      <span class="icons">
        <span class="first-icon fa fa-circle-o"></span>
        <span class="second-icon fa fa-dot-circle-o"></span>
      </span>
      <input
        id="rejected"
        type="radio"
        class="form-check-input"
        data-toggle="radio"
        name="service[valid_classified]"
        value="false"
      >
      No Aceptado
    </label>
  </div>
</div>
<div class=" engagement-observation hide ">
  <div class="form-group row">
    <div class="col-md-3">
      <%= f.label :Observaciones %> 
    </div>
    <div class="col-md-9">
      <%= f.text_field :supervisor_observation, class: "form-control", maxlength:"100" %>
    </div>
  </div>
</div>


