<table class="table table-no-bordered table-hover">
  <thead>
    <th>Nombre</th>
    <th>Categoría</th>
    <th>Método</th>
    <th>Acreditado</th>
    <th>Asinación</th>
  </thead>
  <tbody>    
  <% @service.sample_preliminaries.each do |sample_preliminary| %>             
      <tr>
        <td><%= sample_preliminary.description %></td>                          
        <td><%= sample_preliminary.sample_category.name %></td>                          
        <td><%= sample_preliminary.sample_method_name %></td>                          
        <td><% if sample_preliminary.sample_method.accredited? %>
            Si
        <% else %> 
            No 
        <% end %></td>                         
        <td><%= f.collection_select :id, @employees,:id, :name,{}, {name: "selected_employee_#{sample_preliminary.id}"} %></td>                        
      </tr>     
  <% end %>   
  </tbody>
</table>  
