<div class="nested-fields form-group row">
  <div class="col-md-9">
    <%= f.text_field :description, {class: "form-control", disabled: true} %>
  </div>
  <div class="col-md-3">
  <%= f.text_field :value, {class: "form-control", disabled: true} %>
  </div>
</div>