<div class="card">
  <div class="tab">
    <button class="tablinks active" onclick="openSection(event, 'service')">Servicios</button>
    <button class="tablinks" onclick="openSection(event, 'sample')">Asignación de Custodia</button>
  </div>
  <%= render 'unclassified_services' %>
</div>