<section class="requests-index">
  <div class="card">
    <div class="content">
      <div class="header card-header-text sical-card-header">
        <h1 class="sical-card-title">
          Cadena de Custodia
        </h1>
      </div>
      <div class="sical-content">
        <div class="sub-section-cards">
          <div class="col-md-6 sub-section-card is-unread-card">
            <%= render 'unclassfied_services_card', elements: @services_unclassified, title: "Servicios sin Custodia" %>
          </div>
          <div class="col-md-6 sub-section-card is-read-card">
            <%= render 'custody_order_to_check_card', elements: @custody_order_to_check, title: "Custodia por Revisar" %>
          </div>          
        </div>
      </div>
    </div>
  </div>
</section>
