<div class="card">
      <div class="tab">
        <button class="tablinks active" onclick="openSection(event, 'service')">Servicio</button>
        <button class="tablinks" onclick="openSection(event, 'custody')">Custodia</button>
      </div>
      <%= render 'custody_order_to_check' %>    
</div>