<div class="content">
	<div class="material-datatables">
		<div class="dataTables_wrapper container-fluid dt-bootstrap4">
			<div class="row">
				<div class="col-sm-12 col-md-9">
					<!--<div class="dataTables_length" id="datatables_length">
						<label class="form-group">
							"Mostrar "
							<select name="datatables_length" aria-controls="datatables" class="form-control input-sm">
								<option value="10">10</option>
								<option value="25">25</option>
								<option value="50">50</option>
							</select>
							" entradas"
						</label>
					</div>-->
				</div>
				<div class="col-sm-12 col-md-3">
					<div id="datatables_filter" class="datatables_filter">
						<label class="form-group">
							<input type="search" class="form-control input-sm" placeholder="Buscar por nombre" aria-controls="roles_table">
						</label>
					</div>
				</div>
			</div>
			<div class ="row">
				<table id="roles_table" class="table table-striped table-no-bordered table-hover dataTable" aria-describedby="datatables_info" role="grid" style="width: 100%;" >
					<thead>
						<tr>
							<th class="sorting_asc" aria-label="Nombre:activate to sort column ascending" aria-sort="descending" style="width: 141px" colspan="1" rowspan="1" aria-controls="roles_table" tabindex="0">
								Nombre
							</th>
							<th style="width: 221px" colspan="1" rowspan="1">
								Descripción
							</th>
							<th style="width: 55px" colspan="1" rowspan="1">
								Acciones
							</th>
						</tr>
					</thead>
					<tbody>
						<% roles.each do |role| %>
							<tr>
					        	<td><%= role.name %></td>
					          	<td><%= role.description %></td>
					          	<td>
						            <%= link_to '<i class="fa fa-pencil" aria-hidden="true"></i>'.html_safe, edit_role_path(role), class: "btn btn-success btn-sm", data: { "toggle" => "tooltip" }, title: "Edit" %>
						        	<%= link_to '<i class="fa fa-trash" aria-hidden="true"></i>'.html_safe, role_path(role),class: "btn btn-warning btn-sm", method: :delete %>
						        </td>
					        </tr>
						<% end %>
					</tbody>	
				</table>
			</div>
		</div>		
	</div>
</div>