<div class="card">
  <div class="content">
    <div class="header card-header-text sical-card-header">
      <h1 class="page-header title sical-card-title">Roles <small>Editar</small></h1>
    </div>
    <%= render 'form', role: @role, method: :put, path: role_path %>
  </div>
</div>