<div class="content">
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-12">
				<div class="card">
					<div class="header card-header-text">
						<h1 class="page-header">Roles <small>Edicion</small></h1>
					</div>
					<div class="content">
						<%= render 'form', role: @role, method: :put, path: role_path %>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>