<div class="card">
  <div class="header card-header-text">
    <h1 class="page-header">Roles <small>Nuevo</small></h1>
  </div>
  <div class="content">
    <%= render 'form', role: @role, method: :post, path: roles_path %>
  </div>
</div>