// Sical SideBar

.sical-sidebar {
  position: relative !important;
}

.sical-sidebar-logo,
.sical-sidebar-mini-logo,
.sical-sidebar-wrapper {
  background: #001F4F;
}

// Sical Container

.sical-container {
  display: flex;
}

// Sical main-panel

.sical-main-panel {
  display: flex;
  flex-direction: column;
}

// Sical Page Content

.sical-content {
  margin-bottom: auto;
}

// Sical Radio Button

.sical-radio-button {
  margin-right: 15px;
  padding-left: 20px;
}

// Sical Card Elements

.sical-card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 15px !important;
}

.sical-card-title {
  margin: 15px 0 30px 0;
}

// Sical Form

.sical-form {
  padding: 0 15px;
}

.sical-form-buttons {
  margin: 30px 0;
}

// Sical Cancel Form Button
// Sical Add Menu Form Button

.sical-btn-cancel,
.sical-btn-add-menu {
  padding: 9px 16px;
  font-weight: bold;
  font-family: sans-serif;
  margin-right: 20px;
}

// Sical Input Group

.form-group {
  .sical-input-group {
    margin-bottom: 0;
  }
}

// Sical Input Radio Button

.sical-input-radio-button.error + span.icons {
  color: #EB5E28;
}

// Sical Table Checkbox

.sical-table-checkbox {
  height: 20px;
  margin: 0 !important;
}

.subject-date {
  background-color: #F3F2EE;;
}

.subject {
  border-style:solid ;
  border-color: #C0C0C0; ;
}

.subject-border {
  border: 2px solid;
  border-color: #bbbbbb ;
  padding: 10px;
}

// Sical Nested Table Elements

.sical-nested-row {
  display: table-row;
}

.sical-nested-cell {
  display: table-cell;
}