// Sical Cancel Form Button

.sical-btn-cancel {
  padding: 9px 16px;
  font-weight: bold;
  font-family: sans-serif;
}

// Sical SideBar

.sical-sidebar {
  position: relative !important;
}

.sical-sidebar-logo,
.sical-sidebar-mini-logo,
.sical-sidebar-wrapper {
  background: #001F4F;
}

// Sical Container

.sical-container {
  display: flex;
}

// Sical main-panel

.sical-main-panel {
  display: flex;
  flex-direction: column;
}

// Sical Page Content

.sical-content {
  margin-bottom: auto;
}

// Sical Radio Button

.sical-radio-button {
  margin-right: 15px;
  padding-left: 20px;
}

// Sical Cancel Button

.sical-cancel-btn {
  margin-right: 20px;
}