<div class="card">
  <div class="content">
    <div class="header card-header-text sample-method-header">
      <h1 class="page-header title sample-method-card-title">Método de Muestreo <small>Edicion</small></h1>
    </div>
    <%= render 'form', sample_method: @sample_method, method: :put, path: sample_methods_path %>
  </div>
</div>