<section class="sample-index">
  <div class="card">
    <div class="content">
      <div class="header card-header-text sical-card-header">
        <h1 class="sical-card-title">
          Métodos de Ensayo
        </h1>
        <div>
          <%= link_to 'Nuevo Método', new_sample_method_path, class: "btn btn-primary align-right" %>
        </div>
      </div>
      <div class="sample-content">
        <div id="sample-table">
          <%= render 'sample_methods_table', samples: @sample_methods %>
        </div>
      </div>
    </div>
  </div>
</section>