// General

@import "common/index";

// Libraries

@import "bootstrap";
@import "typography";
@import "font-awesome";
@import "themify-icons";
@import "urbanui/inspire";

// Pages

@import "dashboard";
@import "employees";