

/*--------------------------------------------------
    CSS Transform - Scale and Rotate
---------------------------------------------------*/

@mixin scale-rotate($scale, $rotate)
{
    -webkit-transform: scale($scale) rotate($rotate);
    -ms-transform: scale($scale) rotate($rotate);
    -o-transform: scale($scale) rotate($rotate);
    transform: scale($scale) rotate($rotate);
}

