<footer class="footer page-footer">
  <div class="footer-elements">
    <div>
      <h7>Horarios: Lunes a Viernes 6am - 4pm. Sabado 6am - 12m</h7><br />
      <h7>© Pontificia Universidad Católica del Perú - Todos los derechos reservados</h7>
    </div>
    <div class="social-links">
      <a href="https://www.facebook.com/pucp/">
        <i class="fa fa-facebook-official" aria-hidden="true"></i>       
      </a>
      <a href="https://twitter.com/pucp/">
        <i class="fa fa-twitter-square" aria-hidden="true"></i>
      </a>
      <a href="https://www.youtube.com/user/pucp">
        <i class="fa fa-youtube-square" aria-hidden="true"></i>
      </a>
      <a href="https://www.linkedin.com/company/pucp/">
        <i class="fa fa-linkedin-square" aria-hidden="true"></i>
      </a>
    </div>
  </div>
</footer>
