<nav class="navbar navbar-default navbar-toggleable-md navbar-inverse">
  <div class="navbar-minimize">
      <button id="minimizeSidebar" class="btn btn-round btn-white btn-fill btn-just-icon">
           <i class="ti-arrow-left"></i>
      </button>
  </div>
    
  <div class="collapse navbar-collapse" id="navbarItems">
    <ul class="nav navbar-nav ml-auto">
      <h6 class="user-name"><%= SystemParameter.welcome_message.first.description %> <%=current_user.name%></p></h6>
      <li>
        <a href="#" class="dropdown-toggle nav-link sical-dropdown" data-toggle="dropdown">
          <i class="ti-user nav-icon"></i>
          <p class="hidden-lg-up">Profile</p>
        </a>
        <div class="dropdown-menu only-dropdown" aria-labelledby="notificationList">
          <%= link_to "Profile", edit_user_path(current_user), method: :get, class: "dropdown-item" %>
          <%= link_to "Logout", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
        </div>
      </li>
      <li class="separator hidden-lg-up"></li>
    </ul>
  </div>
</nav>
