<div class="sidebar">
    <div class="logo">
        <a href="#" class="simple-text">
          Sical
        </a>
    </div>
    <div class="logo logo-mini">
        <a href="#" class="simple-text">
          I
        </a>
    </div>
    <div class="sidebar-wrapper">
        <ul class="nav flex-column">
            <li class="d-flex flex-column">
                <a class="nav-link" href="#">
                    <i class="nav-icon ti-user"></i>
                    <p>Empleados</p>
                </a>
            </li>
            <li class="d-flex flex-column">
                <a class="nav-link" href="#">
                    <i class="nav-icon ti-user"></i>
                    <p>Clientes</p>
                </a>
            </li>
            <li class="d-flex flex-column">
                <a data-toggle="collapse" href="#">
                    <i class="nav-icon ti-bar-chart-alt"></i>
                    <p>Inventario</p>
                </a>
            </li>
            <li class="d-flex flex-column">
                <a data-toggle="collapse" href="#">
                    <i class="nav-icon ti-package"></i>
                    <p>Muestras</p>
                </a>
            </li>
            <li class="d-flex flex-column">
                <a data-toggle="collapse" href="#">
                    <i class="nav-icon ti-clipboard"></i>
                    <p>Cotizaciones</p>
                </a>
            </li>
            <li class="d-flex flex-column">
                <a data-toggle="collapse" href="#">
                    <i class="nav-icon ti-view-list-alt"></i>
                    <p>Resultados</p>
                </a>
            </li>
            <li class="d-flex flex-column">
                <a data-toggle="collapse" href="#">
                    <i class="nav-icon ti-hummer"></i>
                    <p>Ordenes de trabajo</p>
                </a>
            </li>
            <li class="d-flex flex-column">
                <a class="nav-link" href="#">
                    <i class="nav-icon ti-clipboard"></i>
                    <p>Solicitudes de servicio</p>
                </a>
            </li>
            <li class="d-flex flex-column">
                <a class="nav-link" href="#">
                    <i class="nav-icon ti-clipboard"></i>
                    <p>Cotizaciones de Servicio</p>
                </a>
            </li>
            </li>
            <li class="d-flex flex-column">
                <a class="nav-link" href="#">
                    <i class="nav-icon ti-receipt"></i>
                    <p>Servicios</p>
                </a>
            </li>
            </li>
            <li class="d-flex flex-column">
                <a class="nav-link" href="#">
                    <i class="nav-icon ti-ruler"></i>
                    <p>Laboratorios</p>
                </a>
            </li>
            </li>
            <li class="d-flex flex-column active">
                <a class="nav-link" href="#">
                    <i class="nav-icon ti-id-badge"></i>
                    <p>Roles</p>
                </a>
            </li>
            </li>
            <li class="d-flex flex-column">
                <a class="nav-link" href="#">
                    <i class="nav-icon ti-write"></i>
                    <p>Logs</p>
                </a>
            </li>
        </ul>
    </div>
</div>