<section class="parameters-index">
  <div class="card">
    <div class="content">
      <div class="header card-header-text sical-card-header">
        <h1 class="sical-card-title">
          Parámetros del sistema
        </h1>
      </div>
      <div class="parameters-content">
        <div>
          <%= render 'parameters_table', system_parameters: @system_parameters %>
        </div>
      </div>
    </div>
  </div>
</section>
